# Virtual Environments
backend/venv/
venv/
ENV/
env/

# Firebase & Flutter Build Caches
mobile_app/.firebase/
mobile_app/.dart_tool/
mobile_app/build/

# Operating System & IDE Files
.DS_Store
*.pyc
__pycache__/
.vscode/
.idea/